[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    clustering
    strain
    definitions.py
    features.py
    labeling.py
    map_maker.py
    strain_dataset.py
    strainmaster.py
    utils.py
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
# Regexes for lines to exclude from consideration
exclude_lines =
    except ImportError
    raise NotImplementedError
    pass
    ABCmeta
    abstractmethod
    abstractproperty
    abstractclassmethod
    warnings.warn
    download_callback\(url,\ directory,
